.container{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    max-width: 100em;
    width: 90%;
   
    margin:auto;
    box-shadow: 1px 5px 30px 1px #242525;
    background: linear-gradient(285deg, #f1f1ef 0%,#f1f1ef 61%, #3fb0ac 39%,#3fb0ac 100%);
}

.container form{
    /* background-color: rgb(206, 47, 47); */
    display: flex;
    flex-direction: column;
    max-width: 20em;
    width: 100%;
    margin-top: 10em;
    margin-left: 5em;
}
.container input{
    max-width: 20em;
    width: 100%;
    min-height: 5vh;
    border: none;
    outline: none;
    margin-bottom: 2em;
    margin-left: 2em;
    padding-left: 1em;
}
.container #text{
    margin-top: 1em;
}

.container button{
    max-width: 20em;
    width: 100%;
    margin-left: 2em;
    min-height: 5vh;
    border: none;
    outline: none;
    cursor: pointer;
}

